# Actual .env file must be always ignored in git repository
# because it may expose sensitive data even if the repository
# is private.

PORT=3000

# Database variables
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=secret
DB_NAME=articles_db

# Authentication variables
JWT_SECRET=supersecret
JWT_EXPIRES_IN=1h

# Redis variables
REDIS_HOST=localhost
REDIS_PORT=6379

# Rate limiting
THROTTLE_TTL=60000
THROTTLE_LIMIT=30
THROTTLE_LIMIT_AUTH=5
THROTTLE_LIMIT_ARTICLE_WRITE=10
